/* mitr-300 - thai_latin */
@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/mitr-v6-thai_latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('fonts/mitr-v6-thai_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/mitr-v6-thai_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/mitr-v6-thai_latin-300.woff') format('woff'), /* Modern Browsers */
        url('fonts/mitr-v6-thai_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/mitr-v6-thai_latin-300.svg#Mitr') format('svg'); /* Legacy iOS */
}

/* mitr-regular - thai_latin */
@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/mitr-v6-thai_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('fonts/mitr-v6-thai_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/mitr-v6-thai_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/mitr-v6-thai_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/mitr-v6-thai_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/mitr-v6-thai_latin-regular.svg#Mitr') format('svg'); /* Legacy iOS */
}

/* Global */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    color: #333333;
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 16px;
}

a {
    color: #0D79F2;
}

.text-gray {
    color: #888888;
}

.text-center {
    text-align: center;
}

.image-block {
    display: block;
    max-width: 100%;
    margin-bottom: 12px;
}

.content-section {
    padding: 64px 16px;
}

.content-section-single {
    min-height: calc(100vh - 150px);
}

.content-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content-title {
    margin-bottom: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 720px) {
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.button {
    color: white;
    background-color: #111111;
    border-radius: 8px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 12px;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.button-primary {
    background-color: #0D79F2;
}

.button-primary:hover {
    background-color: #085dbd;
}

/* Site header */
.site-header {
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.site-header-item {
    color: #111111;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    transition: background-color 0.3s;
}

.site-header-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.site-header-brand img {
    display: inline-block;
    height: 30px;
    margin-right: 6px;
}

/* Site footer */
.site-footer {
    background-color: #eeeeee;
    text-align: center;
    padding: 16px;
}

.site-footer-copyright {
    font-size: 12px;
    margin-top: 32px;
    margin-bottom: 0px;
}

/* Homepage */
.home-landing {
    background-color: lightblue;
    background-image: url('home-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 108px 16px;
}

.home-landing-text {
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
    margin-top: 0px;
    margin-bottom: 24px;
}

/* Foods */
.food-image-link {
    display: block;
}

.food-title a:not(:hover) {
    color: #111111;
    text-decoration: none;
}