[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysql-connector-python = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"
bpython = "*"

[requires]
python_version = "3.10"
