appnope==0.1.2
asgiref==3.4.1
autopep8==1.6.0
backcall==0.2.0
blessings==1.7
bpython==0.22.1
certifi==2021.10.8
charset-normalizer==2.0.9
curtsies==0.3.10
cwcwidth==0.1.5
decorator==5.1.0
Django==4.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
jedi==0.18.1
matplotlib-inline==0.1.3
mysql-connector-python==8.0.27
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.24
protobuf==3.19.1
ptyprocess==0.7.0
pycodestyle==2.8.0
Pygments==2.10.0
python-dotenv==0.19.2
pytz==2021.3
pyxdg==0.27
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
traitlets==5.1.1
typing_extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
