{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}เมนูอร่อยทั้งหมด - {% endblock %}

{% block content %}
<h1>เมนูอร่อย ส่งบ่อย ส่งแม่น</h1>
{% for food in foods %}
    <div style="background-color: rgb(255, 238, 231);">
        <div>
            <img src="{% static 'app_foods/food-red-spicy.jpg' %}">
        </div>
        <h3><a href="{% url 'food' food.id %}">{{ food.title }}</a></h3>
        {% if food.special_price is not None %}
            <p>
                <del style="color: gray;">{{ food.price|floatformat:'g' }}</del>
                <span>{{ food.special_price|floatformat:'g' }}</span>
            </p>
        {% else %}
            <p>{{ food.price|floatformat:'g' }}</p>
        {% endif %}
        {% if food.is_premium %}
            <p>*** เมนูพิเศษสุด Premium</p>
        {% endif %}
        {% if food.promotion_end_at is not None %}
            <p>โปรโมชั่นถึงวันที่ {{ food.promotion_end_at|date:'j N Y' }}</p>
        {% endif %}
    </div>
{% empty %}
    <p>วัตถุดิบกำลังเดินทางมาจากทะเลอันไกลโพ้นนนน กรุณารอความอร่อยอีกไม่นาน</p>
{% endfor %}
{% endblock %}