{% extends 'app_general/components/base.html' %}

{% block site_title %}เมนูอร่อยทั้งหมด - {% endblock %}

{% block content %}
<h1>เมนูอร่อย ส่งบ่อย ส่งแม่น</h1>
{% for food in foods %}
    <div style="background-color: rgb(255, 238, 231);">
        <h3><a href="{% url 'food' food.id %}">{{ food.title }}</a></h3>
        {% if food.isPremium %}
            <p>*** เมนูพิเศษสุด Premium</p>
        {% endif %}
        <p>{{ food.price|floatformat:'g' }}</p>
        <p>โปรโมชั่นถึงวันที่ {{ food.promotionEndAt|date:'j N Y' }}</p>
    </div>
{% empty %}
    <p>วัตถุดิบกำลังเดินทางมาจากทะเลอันไกลโพ้นนนน กรุณารอความอร่อยอีกไม่นาน</p>
{% endfor %}
{% endblock %}