{% extends 'app_general/components/base.html' %}

{% block site_title %}เกี่ยวกับหมู่เฮา - {% endblock %}

{% block content %}
<h1>เกี่ยวกับจันทร์ไรเดอร์</h1>
<h4>ก่อตั้ง 2021</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus finibus augue, et ornare tellus lacinia id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vehicula erat ac neque efficitur, eget rutrum turpis vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pulvinar vel nibh ac bibendum.</p>
<h4>วัตถุดิบชั้นยอด</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus finibus augue, et ornare tellus lacinia id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vehicula erat ac neque efficitur, eget rutrum turpis vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pulvinar vel nibh ac bibendum.</p>
<h4>สุดยอดจันทร์ไรแมน</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus finibus augue, et ornare tellus lacinia id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vehicula erat ac neque efficitur, eget rutrum turpis vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pulvinar vel nibh ac bibendum.</p>
{% endblock %}