{% extends 'app_general/components/base.html' %}

{% block site_title %}เข้าสู่ระบบ - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">เข้าสู่ระบบ</h3>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}
      <div class="form-field">
        <button class="button button-primary" type="submit">เข้าสู่ระบบ</button>
      </div>
      <p>
        <a href="{% url 'register' %}">สมัครสมาชิก</a>
      </p>
      <p>
        <a href="{% url 'password_reset' %}">ลืมรหัสผ่าน?</a>
      </p>
    </form>
  </div>
</section>
{% endblock %}
