{% extends 'app_general/components/base.html' %}

{% block site_title %}ตั้งรหัสผ่านใหม่ - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">ตั้งรหัสผ่านใหม่</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-field">
        <button class="button button-primary" type="submit">ยืนยัน</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
