{% extends 'app_general/components/base.html' %}

{% block site_title %}ส่งอีเมลตั้งรหัสผ่านใหม่เรียบร้อย - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">ส่งอีเมลตั้งรหัสผ่านใหม่เรียบร้อย</h3>
    <p>ระบบได้ส่งอีเมลแนะนำวิธีการตั้งรหัสผ่านใหม่ ไปให้คุณเรียบร้อยแล้ว</p>
    <p>
      <a class="button button-primary" href="{% url 'login' %}">กลับไปหน้าเข้าสู่ระบบ</a>
    </p>
  </div>
</section>
{% endblock %}
