{% extends 'app_general/components/base.html' %}

{% block site_title %}ตั้งรหัสผ่านใหม่ - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    {% if validlink %}
      <h3 class="content-title">ตั้งรหัสผ่านใหม่</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-field">
          <button class="button button-primary" type="submit">ยืนยัน</button>
        </div>
      </form>
    {% else %}
      <h3 class="content-title">ลิ้งค์ไม่สามารถใช้งานได้</h3>
      <p>อาจเป็นเพราะว่าลิ้งค์หมดอายุ หรือเคยใช้งานลิ้งค์นี้ไปแล้ว</p>
      <p>
        <a class="button button-primary" href="{% url 'home' %}">กลับหน้าแรก</a>
      </p>
    {% endif %}
  </div>
</section>
{% endblock %}
