{% extends 'app_general/components/base.html' %}

{% block site_title %}เปลี่ยนรหัสผ่านสำเร็จ - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">สวัสดี {{ user.username }}</h3>
    <p>
      <a href="{% url 'dashboard' %}">แดชบอร์ด</a>
      <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
      <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
    </p>
    <h4>เปลี่ยนรหัสผ่านสำเร็จ</h4>
    <p>
      <a class="button button-primary" href="{% url 'home' %}">กลับหน้าแรก</a>
    </p>
  </div>
</section>
{% endblock %}
