{% extends 'app_general/components/base.html' %}

{% block site_title %}ลืมรหัสผ่าน - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">ลืมรหัสผ่าน</h3>
    <p>ระบบจะส่งอีเมลแนะนำวิธีการตั้งรหัสผ่านใหม่ไปให้</p>
    <form action="{% url 'password_reset' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-field">
        <button class="button button-primary" type="submit">ยืนยัน</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
