{% extends 'app_general/components/base.html' %}

{% block site_title %}สมัครสมาชิก - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h3 class="content-title">ขออนุญาตไม่ใส่หน้าสมัครสมาชิกบนเว็บพรีวิว</h3>
    <p>สามารถดาวน์โหลดโปรเจ็ค เพื่อลองเล่นระบบสมัครสมาชิกที่เครื่องของคุณเอง ได้จากลิ้งค์ข้างล่างนี้</p>
    <p>
      <a href="https://github.com/potchangelo/django-junraider" target="_blank">Project code on Github</a>
    </p>
  </div>
</section>
{% endblock %}
