{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block site_title %}{% endblock %}จันทร์ไรเดอร์ เมนูอร่อย ส่งบ่อย ส่งแม่น</title>
  <link rel="icon" href="{% static 'app_general/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'app_general/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'app_general/main.css' %}">
</head>

<body>
  {% include 'app_general/components/site_header.html' %}
  {% block content %}{% endblock %}
  {% include 'app_general/components/site_footer.html' %}
  <script src="{% static 'app_general/main.js' %}"></script>
</body>

</html>
