{% load static %}
<header class="site-header">
  <a class="site-header-item site-header-brand" href="{% url 'home' %}">
    {% if request.COOKIES.theme == "dark" %}
      <img src="{% static 'app_general/logo-dark.png' %}">
    {% else %}
      <img src="{% static 'app_general/logo.png' %}">
    {% endif %}
    <span>จันทร์ไรเดอร์</span>
  </a>
  <div class="site-header-menu">
    <a class="site-header-item" href="{% url 'foods' %}">
      <span>เมนูทั้งหมด</span>
    </a>
    <a class="site-header-item" href="{% url 'about' %}">
      <span>เกี่ยวกับ</span>
    </a>
    {% if user.is_authenticated %}
      <a class="site-header-item" href="{% url 'dashboard' %}">
        <span>{{ user.username }}</span>
      </a>
      <a class="site-header-item" href="{% url 'logout' %}">
        <span>ออกจากระบบ</span>
      </a>
    {% else %}
      <a class="site-header-item" href="{% url 'login' %}">
        <span>เข้าสู่ระบบ</span>
      </a>
      <a class="site-header-item" href="{% url 'register' %}">
        <span>สมัครสมาชิก</span>
      </a>
    {% endif %}
  </div>
  <a class="site-header-item site-header-toggle-menu-button">
    <span>MENU</span>
  </a>
</header>
